@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Light.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Bold.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Black.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-MediumItalic.woff2') format('woff2'),
        url('../fonts/ARSMaquette-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-LightItalic.woff2') format('woff2'),
        url('../fonts/ARSMaquette-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-BlackItalic.woff2') format('woff2'),
        url('../fonts/ARSMaquette-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Medium.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-BoldItalic.woff2') format('woff2'),
        url('../fonts/ARSMaquette-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Italic.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ARS Maquette';
    src: url('../fonts/ARSMaquette-Regular.woff2') format('woff2'),
        url('../fonts/ARSMaquette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

