html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.highlight {
    &--red { color: $colour_red; }
    &--purple { color: $colour_purple; }
}

.center {
    text-align: center;
}