html {
    box-sizing: border-box;
}

body {
    height: auto !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.highlight {
    &--red { color: $colour_red; }
    &--purple { color: $colour_purple; }
}

.center {
    text-align: center;
}

.row--cta {
    margin-top: $spacingUnit * 2;
}


// ANIMATIONS
// ----------

.hero .container .columns > *,
.content-block:not(.reveal-footer) .columns > *,
.service,
.brief-us-in .container .columns,
.work-card-wrap,
.case-study-feature .columns,
.case-study-overview .columns,
.pagination-grid > *,
.row-of-images p {
    visibility: hidden
}