// General gravity styling
.gform_confirmation_message {
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: hsl(0, 0%, 40%) !important;
}

.gform_wrapper {

    font-family: $font_main !important;

    .gfield {
        margin: $spacingUnit 0 !important;

        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    .gsection {
        margin: 0 !important;

        .gsection_title {
            color: $colour_purple;
            font-size: 1.25rem !important;
            font-weight: bold;
        }
    }

    .gform_button {
        display: inline-block !important;
        border: 3px solid $colour_white !important;
        padding: 20px 45px !important;
        transition: 0.3s ease all !important;
        font-weight: 700 !important;
        letter-spacing: 0.5px !important;
        background-color: $colour_purple !important;
        color: $colour_white !important;
        border-radius: 0 !important;
        cursor: pointer;

        &:hover {
            background-color: lighten($colour_purple, 10%) !important;
            color: $colour_white !important;
        }
    }

    input {
        margin: 0;

        // Fixes vertical alignment for radio and checkboxes
        vertical-align: 7.5% !important;

        // Adds more space to radio and checkboxes
        &[type='checkbox'],
        &[type='radio'] {
            margin-right: 2px !important;
        }
    }

    input, textarea {
        padding: 10px !important;
        border-radius: 5px;
        border: 1px solid hsl(0, 0, 75%);
    }

    .validation_error {
        margin-bottom: 0 !important;
        border: 0 !important;
    }

    .gfield_label {
        margin-bottom: 7.5px;
        color: $colour_purple;
        font-size: rem-calc(14px) !important;
    }

    .ginput_container {
        margin: 0 !important;
    }
}

// Brief us in form

#gform_confirmation_message_3 {
    margin-bottom: $spacingUnit !important;
    font-size: 1.125rem;

    @include breakpoint(medium) {
        padding: 3rem 0;
        font-size: 1.25rem;
        text-align: center;
    }
}

#gform_wrapper_3 {

    .gsection {
        
        margin-top: $spacingUnit * 2 !important;
        border-bottom: 0;
        
        @include breakpoint(medium) {
            margin-top: 60px !important;
        }

        &:first-child { margin-top: 0 !important; }
 
        .gsection_title {
            font-size: 1.5rem !important;
            letter-spacing: -1px !important;
            
            @include breakpoint(medium) {
                font-size: 2rem !important;
            }
        }
    }

    .gfield_label {
        display: none;
    }

    .gfield_radio,
    .gfield_checkbox {
        
        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 15px;
        }
        
        label {
            font-weight: 400 !important;
        }
    }

    input {
        vertical-align: -5% !important;        
    }

    .gfield {
        padding-right: 0;
    }

    .ginput_container_fileupload {

        input {
            &[type='file'] {
                display: block;
                width: 100%;
                padding: 2rem !important;
                border: 1px solid hsl(0, 0, 80%);
            }
        }
    }

}