.rte {

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 $spacingUnit / 2;
        color: $colour_purple;
        line-height: 1.2;
    }

    p {
        margin: 0 0 $spacingUnit * 1.5;
        line-height: 1.8;
        color: $colour_text;
    }

    a {
        color: $colour_red;
        transition: 0.3s ease all;

        &:hover {
            color: lighten($colour_red, 10%);
        }
    }
}