// Fonts
// -----
$font_main: 'ARS Maquette';

// Spacing
// -------
$spacingUnit: 24px;

// Colours
// -------
$colour_purple: #3C0B75;
$colour_red: #FF1C45;
$colour_white: #FFFFFF;
$colour_black: #000000;
$colour_bg_grey_light: hsl(0, 0, 95%);
$colour_text: hsl(0, 0, 40%);

// Z Indexes 
// ---------
$z_hero: -103;
$z_nav: -102;
$z_footer: -101;
$z_parallax_mirror: -100; // This is static - will not change
$z_nav_overlay: 98;
$z_nav_takeover: 99;
$z_nav_active: 100;