.case-study-overview {
    @extend %padded;

    background-color: $colour_white;
    text-align: center;
    
    .title {
        @include baseHeadingFontSize(2rem);
        margin-bottom: $spacingUnit;
        color: $colour_purple;
    }

    p {
        font-size: 16px;

        @include breakpoint(medium) {
            font-size: 19px;
        }
    }
}