.content-block {

    background-color: $colour_white;
    background-size: cover;
    background-position: center;
    padding: 75px 0;

    @include breakpoint(medium) {
        padding: 100px 0;
    }
    
    @include breakpoint(large) {
        padding: 200px 0;
    }

    & > .container > .row > .columns {
        & > *:not(:last-child) {

            margin: 0 0 ($spacingUnit * 1.5);
            
            @include breakpoint(medium) {
                margin: 0 0 ($spacingUnit * 2.5);
            }
        }
    }

    &__logo {
        width: 100%;
        max-width: 250px;
    }

    &__cta-container {
        margin-top: $spacingUnit * 3;
        
        @include breakpoint(large) {
            margin-top: $spacingUnit * 5;
        }        
    }

    &__cta-container-small {
        margin-top: $spacingUnit * 1;
        
        @include breakpoint(large) {
            margin-top: $spacingUnit * 2;
        }        
    }

    &--bg-red {
        background-color: $colour_red;
    }

    &--invert {
        * {
            color: $colour_white;
        }
    }

    &--text-purple {
        * {
            color: $colour_purple;
        }
    }

    &--split-bg {
        position: relative;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 500px;
            background-color: $colour_bg_grey_light;
            content: '';
        }

        .container {
            position: relative;
            z-index: 1;
        }
    }
}