.hero {
    position: relative;
    background-size: cover;
    background-position: center;

    .hero__scroll {
        position: absolute;
        bottom: $grid_column_gutter;
        left: 0;
        width: 100%;
        z-index: 1;
        
        &-inner {
            margin: 0 auto;
            width: 100%;
            max-width: $grid_max_width;
            padding: 0 $grid_column_gutter;
            text-align: right;
        }

        &__text {
            display: inline-block;
            position: relative;
            color: $colour_white;
            font-size: 16px;
            font-weight: 700;

            &::after {
                position: absolute;
                left: 50%;
                top: calc(100% + 13px);
                width: 2px;
                height: calc(100% + 13px);
                background-color: $colour_white;
                transform: translateX(-50%);
                content: '';
            }
        }
    }    
    
    &--home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;
        margin-top: -$nav_height;

        .site-title {
            color: $colour_white;
            margin-bottom: $spacingUnit * 1.5;
            
            @include breakpoint(medium) {
                margin-bottom: $spacingUnit * 3;
            }
        }

        .subtitle {
            color: $colour_white;

            strong {
                font-weight: 700;
            }
        }

        .video-container {
            & + * {
                position: relative;
                z-index: 1;
            }
        }
    }

    
}