.row-of-images {

    $imageSpacing: 10px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }

    p {
        width: 100%;
        margin-bottom: $imageSpacing / 2;
        padding: 0 $imageSpacing / 2;
    }
}