.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: $spacingUnit * 3;
    
    @include breakpoint(large) {
        margin-bottom: 0;
    }

    &__icon {
        height: 90px;
        margin-bottom: $spacingUnit;
        
        @include breakpoint(medium) {
            height: 120px;
        }

        img, svg {
            height: 100%;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
    }

    .red-service-icons & {
        color: $colour_red;
        svg {
            * {
                stroke: $colour_red;
            }
        }
    }

    .purple-service-icons & {
        color: $colour_purple;
        svg {
            * {
                stroke: $colour_purple;
            }
        }
    }

    .smaller-service-icons & {
        .service__icon {
            height: 80px;
        }       
        .service__title {
            font-size: 18px;
            font-weight: 700;
        }
    }
}